html, body {
  min-height: 100vh;

  font-size: 16px;
}

.main-section {
  min-height: 100vh;
  background: #f7e7e1;

  display: flex;
  justify-content: center;
}

.bio-block {
  display: flex;

  justify-content: center;
  align-items: flex-start;

  margin-top: 30vh;
}

h1, h2 {
  margin: 0;
}

.name-heading {
  font-family: 'Roboto Slab', serif;
  margin-bottom: .7rem;
}

.prof-heading {
  font-family: 'Inconsolata', monospace;
  margin-bottom: .5rem;
}

.contacts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact {
  margin-bottom: .5rem;

  font-family: 'Inconsolata', monospace;
}

.contact a {
  font-style: italic;
}

.photo {
  margin-right: 2rem;
  height: 11rem;
}

@media screen and (max-width: 800px) {
  .bio-block {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10vh;
  } 
  
  .photo {
    margin: 0 0 1rem 0;
  }
}